* {
    margin: 0;
    padding: 0;
}
.Header h1 {
  color: lightseagreen;
  font-family: "Stick No Bills", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight 500px; 
  font-style: normal;
  margin-left: 25rem;
  font-size: 3.5rem; 
  
}

.Header p {
    font-family: fantasy;
    margin-left: 30rem;
    color: rgb(40, 106, 106);
    letter-spacing: 0.1em;

    
}

.Navbar {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    justify-content: center;
    width: 100%;
    margin-top: 34px;
    background-color: lightseagreen;
    color: whitesmoke;
    text-decoration: none;

}
.Navbar li {
    list-style-type: none;
    display: inline-block;
    margin: 0 2rem;
    text-transform: none;
    
}

nav a{ 
    font-size: 1.5rem;
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: rgb(49, 152, 143);
    background-color: rgb(243, 249, 250);
}
main{
    padding: 20px;
}

.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-container img{
    width: 50%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product-container h2{
    font-size: 20px;
    margin-bottom: 10px;
    color:rgb(28, 117, 70)
}

.product-container p{
    font-size: 16px;
    margin-bottom: 10px;
    color:rgb(28, 136, 136);
    text-align: left;
}

.product-container .precio{
    font-size: 20px;
    font-weight: bold;
    color:rgb(36, 156, 36);
    border: 1px solid black;
    margin-bottom: 10px;
    }

.product-container .boton-agregar-carrito{
    background-color: rgb(52, 194, 109);
    color: rgb(18, 18, 18);
    font-size: 13px;
    margin-bottom: 20px;
    border: 5px solid black;
    border-radius: 12px;
    cursor: pointer;
    }

.product-container .boton-agregar-carrito:hover{
    background-color: rgb(207, 220, 20);
    }
    form{
    max-width: 200px;
    margin: 0 auto;

    }
    label {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 35px;
        color: rgb(51, 77, 24);
        }
    input{
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid  #24761d;

                }
    button{
        background-color: darkgray;
        color: #24761d;
        font-size: 20px;
        margin-top: 20px;
        border-radius: 4px;

    }

 @media (min-widht: 501px){
            .container{
            background-color: rgb(204, 244, 154);} 
            .Navbar li {
                list-style-type: none;
                display: block;
                flex-direction: column;
                flex-wrap: wrap-reverse;
                margin: 0 2rem;
                font-size: small;            
                
            }
            .Header h1 {
               
                text-align: left;

            }
            

             } 

        @media(min-widht: 801px){
                .container{
                background-color: rgb(179, 175, 48);
                }}
    
footer{
    background-color:dimgrey;
    color:  #fff ;
    padding: 20px;
    text-align: center;
    }
  
